[submodule "zsh/F-Sy-H"]
	path = zsh/F-Sy-H
	url = https://github.com/z-shell/F-Sy-H
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
